.input-number {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 20px;
}
.label-number {
  width: 100px;
  height: 20px;
}

.input-controls {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 8px;
}

.list-calc-buttons {
  display: flex;
  gap: 4px;
}

.calc-button {
  cursor: pointer;
  width: 70px;
  height: 30px;
  background: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.calc-button:hover,
.calc-button:focus {
  background: var(--ocean);
}
